* {
    font-family: 'Poppins', sans-serif;
}

body {
    border-radius: 20px;
    /* margin: 0; */
}

footer {
    margin-top: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(241, 50, 50);
}

p {
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 16px;
    color: #666666;
}

#container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    background-color: #F7F7F7;
    border-radius: 20px;
}

nav {
    display: flex;
    height: 10vh;
}

#logo {
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 20px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    height: 40%;
}


.modal {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: -100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #666666;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 20px;
    transition: 0.7s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 1;
    /* align-items: center; */
}

.modalOn {
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.7s ease-in-out;


}


#modalImg {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-image: url(./ECF-blanc-pk/Pokeball.png);
    background-repeat: no-repeat;
    background-position: top 5px right 10px;
    background-size: contain;

}

.modalName {
    display: flex;
    justify-content: space-around;
    height: 10%;
    width: 100%;
    color: #FFFFFF;
    z-index: 1;
    margin-top: 30px;
}




.arrow {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 1.5;
}

span {
    transition: 0.3 ease-in-out;
}

span:hover {
    cursor: pointer;
    scale: 1.3;
    transition: 0.3 ease-in-out;
}


.modalPkmName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;

}

.modalNb {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 20px;
}

.modalPkmImg {
    display: flex;
    justify-content: center;
    height: 90%;
    z-index: 1;
}

.modalPkmImg img {
    height: inherit;
    position: relative;
    top: 15%;

}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65%;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 4px;
    z-index: 0;

}

.detailWrapper {
    height: 80%;
    width: 90%;
}


.type {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20%;
}

.typeChild {
    display: flex;
    justify-content: space-around;
    height: 30%;
    width: 50%;
    /* background-color: yellow; */
    margin-bottom: 20px;
}

.type1,
.type2 {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: white;
    background-color: grey;
    font-size: 14px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionText {
    font-size: 14px;
}



.about {
    height: 55%;
}

.aboutTitle,
.statTitle {
    text-align: center;
    justify-self: start;
}



.spec {
    display: flex;
    justify-content: center;
    height: 45%;
    font-size: 14px;
    /* background-color: red; */
}

.weight,
.height,
.moves {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 30%;
}

.weightTitle,
.heightTitle,
.movesTitle {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20%;
    /* background-color: yellow; */
    color: #666666;
}

.heightItem,
.weightItem,
.ability {
    display: flex;
    height: 70%;
    /* background-color: green; */
}

.heightIcon,
.weightIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    /* background-color: blue; */
}

.heightValue,
.weightValue {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weightIcon img,
.heightIcon img {
    height: 50%;
}

.ability {
    display: flex;
    flex-direction: column;
}

.ability1,
.ability2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.weight,
.moves {
    /* background-color: grey; */
}

.description {
    height: 40%;
}

.stat {
    display: flex;
    flex-direction: column;
    height: 38%;
    justify-content: space-between;
    align-items: center;

}

.statBloc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70%;
}

.statName {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
    height: 100%;
}

.vertibar {
    height: 100%;
    width: 3px;
    background-color: #E0E0E0;
    border-radius: 20px;
    margin: 0 10px;
}

.statName div,
.statValue div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    font-size: 13px;
    font-weight: bolder;
    /* background-color: grey; */
    /* border: 1px solid black; */
}

.statValue {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
    height: 100%;
    /* background-color: grey; */
}

.statBar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 100%;
    width: 70%;
}

.statBarHp,
.statBarAtk,
.statBarDef,
.statBarSatk,
.statBarSdef,
.statBarSpd {
    height: 100%;
    width: 0;
    transition: 2s;
}

.progressBar {}


.statBarInit {
    height: 5%;
    width: 100%;
    background-color: #F7F7F7;
    border-radius: 30px;
    overflow: hidden;
    border-radius: 30px;

}



/* ///////////////////////////////////////////// */



.blocList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.pokemon {
    width: 117px;
    height: 117px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.1s ease-in-out;
    overflow: hidden;

}

.pokemon:hover {
    cursor: pointer;
    scale: 1.2;
    transition: 0.3s ease-in-out;
}

.number {
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
    padding-top: 5px;
    font-weight: bolder;
}

.pkmimg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pkmimg img {
    height: 100%;
}

.pkmimg:hover {
    animation: move 0.4s linear infinite;
}

@keyframes move {
    0% {
        transform: rotateY(0);
    }

    80% {
        transform: rotateX(30deg)
    }

    100% {
        transform: rotateY(0);
    }

}

.name {
    height: 25%;
    background-color: #E0E0E0;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

}


@media only screen and (min-width: 768px) {
    .pokemon {
        width: 150px;
        height: 150px;
    }

    .modal {
        height: 90vh;
        width: 70vw;
        top: 5%;
        left: -100vw;
        transition: 2s;
    }


    .modalOn {
        height: 90vh;
        width: 70vw;
        top: 5%;
        left: 15%;
        transition: 2s;

    }
}


@media only screen and (min-width: 1024px) {
    header {
        margin-bottom: 100px;
    }

    /* nav {
        background-color: #ec3622;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
    } */

    .modal {
        height: 90vh;
        width: 50vw;
        top: 5%;
        left: -100vw;
        transition: 2s;
    }


    .modalOn {
        height: 90vh;
        width: 50vw;
        top: 5%;
        left: 25%;
        transition: 2s;

    }

}

@media only screen and (min-width: 1440px) {
    nav {
        height: 15vh;
    }

    .modal {
        height: 90vh;
        width: 50vw;
        top: 5%;
        left: -100vw;
        transition: 2s;
    }


    .modalOn {
        height: 90vh;
        width: 40vw;
        top: 5%;
        left: 30%;
        transition: 2s;

    }

    .modalPkmImg {
        top: 25%;
    }

    .pokemon {
        width: 330px;
        height: 330px;

    }

    .name {
        font-size: 30px;
    }

    .number {
        font-size: 30px;
    }
}